{% extends "base1.html.twig" %}





{% block body %}
    <br><br><br>
    <p></p>
    {#<section class="jumbotron text-center">#}
    {#    <div class="container">#}
    {#        <h1 class="jumbotron-heading">E-COMMERCE CATEGORY</h1>#}
    {#        <p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte...</p>#}
    {#    </div>#}
    {#</section>#}

    <div class="card-deck">
        <div class="card" style="margin-left:100px;">
            <img class="card-img-top" src="{{ asset('img/emp.jpg') }}" alt="Employees" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Employees</h5>
            <p class="card-text">Managing employees is the most challenging part of a manager’s day-to-day responsibilities.</p>
            <a href="/employee/list" class="btn btn-primary">Manage employees</a>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="{{ asset('img/bill.jpg') }}" alt="Bills" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Bills</h5>
            <p class="card-text">The payment section for the services offered. A customer choose to pay the bills for utility services.</p>
            <a href="/bill/list" class="btn btn-primary">Manage bills</a>
            </div>
        </div>
        <div class="card" style="margin-right:100px;">
            <img class="card-img-top" src="{{ asset('img/compa.jpg') }}" alt="Companies" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Companies</h5>
            <p class="card-text">Manage the companies that sells services in order achive a specific objective.</p>
            <a href="/company/list" class="btn btn-primary">Manage companies</a>
            </div>
        </div>
    </div>

    <div class="card-deck" style="margin-top:50px;">
        <div class="card" style="margin-left:100px;">
            <img class="card-img-top" src="{{ asset('img/cust.jpg') }}" alt="Customers" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Customers</h5>
            <p class="card-text">The customer is the foundation of any business' success. Putting the customer first, in simple terms, means that a business puts the needs and requirements of a customer ahead of anything. </p>
            <a href="/customer/list" class="btn btn-primary">Manage customers</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{ asset('img/mail.jpg') }}" alt="Mailing" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Mailing</h5>
            <p class="card-text">Partnering with an efficient online postal service improves your company's image. Using email can greatly benefit businesses as it provides efficient and effective ways to transmit all kinds of electronic data.</p>
            <a href="/mail/list" class="btn btn-primary">Send mail</a>
            </div>
        </div>
        <div class="card" style="margin-right:100px;">
            <img class="card-img-top" src="{{ asset('img/pdf.jpg') }}" alt="Profit" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Clients' profit report</h5>
            <p class="card-text">Generate reports as Portable Document Format, which has the big advantage of compressing high-quality files to a relatively small file size.</p>
            <a href="{{ path("newPdf") }}" class="btn btn-primary">Export PDF</a>
            </div>
        </div>
    </div>

    <div class="card-deck" style="margin-top:50px;">
        <div class="card" style="margin-left:100px;">
            <img class="card-img-top" src="{{ asset('img/offer.jpg') }}" alt="Offers" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Offers</h5>
            <p class="card-text">The reputation of a business can also be improved by catching the attention of customers through offers. The services being visible at each offer.</p>
            <a href="/offers/list" class="btn btn-primary">Manage offers</a>
            </div>
        </div>
        <div class="card" >
            <img class="card-img-top" src="{{ asset('img/cust.jpg') }}" alt="Offers" style="height:180px;">
            <div class="card-body">
                <h5 class="card-title">Meeting</h5>
                <p class="card-text">Meetings are one of the most controversial topics in the workplace. Some people hate them, while others believe they are necessary for successful teams to work together.</p>
                <a href="/meeting/list" class="btn btn-primary">Manage meeting</a>
            </div>
        </div>
        <div class="card"  style="margin-right:100px;">
            <img class="card-img-top"  src="{{ asset('img/mail.jpg') }}" alt="Mailing" style="height:180px;">
            <div class="card-body">
                <h5 class="card-title">Marketing mails</h5>
                <p class="card-text">Email marketing can allow you to create targeted and personalised messages. This can help you to build meaningful relationships with your customers.</p>
                <a href="/new" class="btn btn-primary"> Send marketing email</a>
            </div>
        </div>
    </div>

    <div class="card-deck" style="margin-top:50px;width:470px;">
        <div class="card" style="margin-left:100px;">
            <img class="card-img-top" src="{{ asset('img/excel.jpg') }}" alt="Excel" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Clients' report Excel</h5>
            <p class="card-text">Microsoft Excel allows you to manipulate, manage and analyze data in any business. Microsoft Excel gives you the right tools to enable you to accomplish all your needs.</p>
            <a href="{{ path("newExcel") }}" class="btn btn-primary">Export Excel</a>
            </div>
        </div>
    </div>


</div>
{% endblock %}
