{% extends "base1.html.twig" %}





{% block body %}
    <br><br><br>
    <p></p>
    {#<section class="jumbotron text-center">#}
    {#    <div class="container">#}
    {#        <h1 class="jumbotron-heading">E-COMMERCE CATEGORY</h1>#}
    {#        <p class="lead text-muted mb-0">Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un peintre anonyme assembla ensemble des morceaux de texte pour réaliser un livre spécimen de polices de texte...</p>#}
    {#    </div>#}
    {#</section>#}

    <div class="card-deck">
        <div class="card" style="margin-left:100px;">
            <img class="card-img-top" src="{{ asset('img/emp.jpg') }}" alt="Employees" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Employees</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="/employee/list" class="btn btn-primary">Manage employees</a>
            </div>
        </div>


        <div class="card">
            <img class="card-img-top" src="{{ asset('img/bill.jpg') }}" alt="Bills" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Bills</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="/bill/list" class="btn btn-primary">Manage bills</a>
            </div>
        </div>
        <div class="card" style="margin-right:100px;">
            <img class="card-img-top" src="{{ asset('img/compa.jpg') }}" alt="Companies" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Companies</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <a href="/company/list" class="btn btn-primary">Manage companies</a>
            </div>
        </div>
    </div>

    <div class="card-deck" style="margin-top:50px;">
        <div class="card" style="margin-left:100px;">
            <img class="card-img-top" src="{{ asset('img/cust.jpg') }}" alt="Customers" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Customers</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="/customer/list" class="btn btn-primary">Manage customers</a>
            </div>
        </div>
        <div class="card">
            <img class="card-img-top" src="{{ asset('img/mail.jpg') }}" alt="Mailing" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Mailing</h5>
            <p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
            <a href="{{ path("newMail") }}" class="btn btn-primary">Send mail</a>
            </div>
        </div>
        <div class="card" style="margin-right:100px;">
            <img class="card-img-top" src="{{ asset('img/pdf.jpg') }}" alt="Profit" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Clients' profit report</h5>
            <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
            <a href="{{ path("newPdf") }}" class="btn btn-primary">Export</a>
            </div>
        </div>
    </div>

    <div class="card-deck" style="margin-top:50px;width:545px;">
        <div class="card" style="margin-left:100px;">
            <img class="card-img-top" src="{{ asset('img/offer.jpg') }}" alt="Offers" style="height:180px;">
            <div class="card-body">
            <h5 class="card-title">Offers</h5>
            <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
            <a href="/offers/list" class="btn btn-primary">Manage offers</a>
            </div>
        </div>
    </div>



  
</div>
{% endblock %}
